<!DOCTYPE html>
<html
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   lang="en"
   layout:decorate="~{templates/layout}">
   <div layout:fragment="content">
      <h3>Usuários</h3>
      <table class="table">
         <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">Email</th>
               <th scope="col">Nome</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="usuario, row: ${listagem}">
               <th scope="row" th:text="${usuario.id}"></th>
               <td th:text="${usuario.email}"></td>
               <td th:text="${usuario.nome}"></td>
            </tr>
         </tbody>
      </table>
   </div>
</html>
