<!DOCTYPE html>
<html
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   lang="en"
   layout:decorate="~{templates/layout}">
   <div layout:fragment="content">
      <h3>Passes</h3>
      <table class="table">
         <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">Correto?</th>
               <th scope="col">Gerou assistencia?</th>
               <th scope="col">Acoes</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="passe, row: ${listagem}">
               <th scope="row" th:text="${passe.id}"></th>
               <td th:text="${passe.isCorreto() ? 'Sim' : 'Nao'}"></td>
               <td th:text="${passe.gerouAssistencia() ? 'Sim' : 'Nao'}"></td>
               <td><a th:href="@{/passe/{id}/excluir(id=${passe.id})}">excluir</a></td>
            </tr>
         </tbody>
      </table>
   </div>
</html>
