<!DOCTYPE html>
<html
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   lang="en"
   layout:decorate="~{templates/layout}">
   <div layout:fragment="content">
      <h3>Gols</h3>
      <a href="/gol">Inserir novo gol</a>
      <table class="table">
         <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">Tipo</th>
               <th scope="col">Decisivo</th>
               <th scope="col">Dificuldade</th>
               <th>Acoes</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="gol, row: ${listagem}">
               <th scope="row" th:text="${gol.id}"></th>
               <td th:text="${gol.getTipo()?.label}"></td>
               <td th:text="${gol.isDecisivo() ? 'Sim' : 'Nao'}"></td>
               <td th:text="${gol.getDificuldade()}"></td>
               <td><a th:href="@{/gol/{id}/excluir(id=${gol.id})}">excluir</a></td>
            </tr>
         </tbody>
      </table>
   </div>
</html>
