<!DOCTYPE html>
<html
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   lang="en"
   layout:decorate="~{templates/layout}">
   <div layout:fragment="content">
      <h3>Partidas</h3>
      <table class="table">
         <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">Local</th>
               <th scope="col">Data</th>
               <th scope="col">Time1</th>
               <th scope="col">Time2</th>
               <th>Acoes</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="partida, row: ${listagem}">
               <th scope="row" th:text="${partida.id}"></th>
               <td th:text="${partida.getLocal()}"></td>
               <td th:text="${partida.getData()}"></td>
               <td th:text="${partida.getTime1()}"></td>
               <td th:text="${partida.getTime2()}"></td>
               <td><a th:href="@{/partida/{id}/excluir(id=${partida.id})}">excluir</a></td>
            </tr>
         </tbody>
      </table>
   </div>
</html>
