<!DOCTYPE html>
<html
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   lang="en"
   layout:decorate="~{templates/layout}">
   <div layout:fragment="content">
      <h3>Dribles</h3>
      <table class="table">
         <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">Local</th>
               <th scope="col">Data</th>
               <th scope="col">Time1</th>
               <th scope="col">Time2</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="drible, row: ${listagem}">
               <th scope="row" th:text="${drible.id}"></th>
               <td th:text="${drible.getLocal()}"></td>
               <td th:text="${drible.getData()}"></td>
               <td th:text="${drible.getTime1()}"></td>
               <td th:text="${drible.getTime2()}"></td>
            </tr>
         </tbody>
      </table>
   </div>
</html>
